.root {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 200%;
}

.currentPage {
    width: 90%;
    margin: auto;
}

/*Navigation bar*/
.navbar {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
}

.navLink {
    width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navfoot {
    width: 100%;
    height: 30px;
    background-color: #4397B9;
    display: flex;
    align-items: center;
    justify-content: left;
}

.footLink {
    position: relative;
    text-decoration: none;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
}

.footLink:hover {
    height: 30px;
    animation-name: foot;
    animation-duration: .7s;
    animation-fill-mode: forwards;
}


/*Home page*/
.home {
    margin: auto;
    width: 80%;
    height: 100%;
}

.homeCoverImage {
    height: 600px;
    width: 80%;
    margin: auto;
    background-image: url('http://imgur.com/apeiVRQ.png');
    background-size: cover;
}

.homeCoverText {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeCoverText p {
    color: white;
    font-size: 75px;
}

.navlinktext {
    font-size: 50px;
    color: white;
}

/*About page*/
.about {
    margin: auto;
    width: 80%;
    height: 100%;
}

.aboutPageTitle {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutPageBody {
    text-align: center;
    width: 75%;
    margin: auto;
}

/*Contact page*/
.contact {
    margin: auto;
    width: 80%;
    height: 100%;
}

.contactPageTitle {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactPageBody {
    text-align: center;
}

.contactSocialLinks {
    text-align: center;
    padding-bottom: 30px;
}

/*Projects page*/
.projects {
    margin: auto;
    width: 80%;
    height: 100%;
}

.projectsPageTitle {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectsLinks {
    text-align: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*CSS animations*/
@keyframes foot {
    0% {background-color: #4397B9;}
    50% {background-color: #C94E3E;}
    100% {background-color: #4397B9;}
}

@keyframes contactLink {
    0% {color: #4397B9;}
    50% {color: #C94E3E;}
    100% {color: #4397B9;}
}

.footLink:hover {
    transition: 2s ease-in-out;
    animation-name: foot;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.contactLink:hover {
    transition: 2s ease-in-out;
    animation-name: contactLink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
